#################################################
###  General  ###################################
#################################################

.env
compose.override.yaml
docs/site/
docker-data/
.env.manual-ssl

#################################################
###  IDEs  ######################################
#################################################

.idea/
.vscode/

#################################################
###  Tests  #####################################
#################################################

test/duplicate_configs/
test/config/dovecot-masters.cf
test/config/postfix-accounts.cf
